section {
  padding: clamp(4rem, 4.762vw + 1.7143125rem, 6rem) clamp(1rem, 11.905vw - 4.7143125rem, 6rem);
}
@media only screen and (max-width: 767px) {
  section {
    padding: clamp(3rem, 4.071vw + 2.0458125rem, 4rem) clamp(0.75rem, 1.018vw + 0.5114375rem, 1rem);
  }
}

.sectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90rem;
  gap: clamp(2rem, -4.762vw + 6.2856875rem, 4rem);
}
.sectionWrapper .left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  flex: 1 1 0;
  min-inline-size: 0;
}
.sectionWrapper .left .message {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.sectionWrapper .left .message .header {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  color: #171717;
  font-size: clamp(3rem, 1.785714vw + 2.142875rem, 3.75rem);
  line-height: clamp(3rem, 1.785714vw + 2.142875rem, 3.75rem);
  text-wrap: pretty;
}
.sectionWrapper .left .cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sectionWrapper .left .cards > * {
  flex: 0 0 auto;
}
.sectionWrapper .right {
  display: flex;
  flex: 1 1 0;
  min-inline-size: 0;
  align-items: stretch;
}

@media only screen and (max-width: 767px) {
  .sectionWrapper {
    flex-direction: column;
    gap: clamp(3rem, 4.071vw + 2.0458125rem, 4rem);
  }
  .sectionWrapper .left {
    gap: clamp(2.5rem, 2.036vw + 2.022875rem, 3rem);
  }
  .sectionWrapper .left .message .header {
    font-size: clamp(2.25rem, 3.053vw + 1.534375rem, 3rem);
    line-height: clamp(2.5rem, 2.036vw + 2.022875rem, 3rem);
    text-wrap: balance;
  }
  .left, .right {
    inline-size: 100%;
  }
}
