@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/utils/functions' as *;


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  padding-inline: clamp(rem(40), calc(17.857vw - rem(97.143)), rem(160));;

  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: rem(12);
  }

  :where(h1, h2, h3, p) {
    margin: 0;
  }


  .text2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

}


@media only screen and (max-width: 767px) {
  header {
    padding: 0;
  }
}
