.input {
  inline-size: 100%;
  background: #FAFAFA;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.1875rem;
  box-shadow: rgb(229, 229, 229);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  padding: 0.625rem 0.875rem;
}
.input:focus {
  border: 0.0625rem solid rgba(68, 76, 231, 0.1215686275);
  box-shadow: 0 0 0 0.25rem rgba(68, 76, 231, 0.12), 0 0.0625rem 0.125rem 0.25rem rgba(16, 24, 40, 0.05);
}
