.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.row .imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #EEF2FF;
  border-radius: 50%;
}
