.button {
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  border-radius: 0.1875rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.06), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
}
.button--primary {
  color: #fff;
  background: #4338CA;
  border: 0.03125rem solid #4338CA;
}
.button--primary:hover {
  outline: none;
  background: #3730A3;
}
.button--primary:focus {
  background: #3730A3;
}
.button--secondary {
  color: #171717;
  background: #FFFFFF;
  border: 0.03125rem solid #E5E5E5;
}
.button--secondary:hover {
  background: #FAFAFA;
}
.button--secondary:focus {
  background: #FAFAFA;
}
.button--default {
  color: #525252;
  background: #FFFFFF;
}
.button--default:hover {
  background: #FAFAFA;
}
.button--default:focus {
  background: #FAFAFA;
}
.button--clear {
  border: none;
  background: #FFFFFF;
  color: #525252;
  box-shadow: none;
  inline-size: clamp(8.75rem, -2.9277vw + 10.1549375rem, 9.46875rem);
  block-size: 3rem;
}
.button--active {
  border: 0.03125rem solid #E5E5E5;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
  color: #171717;
}
.button--xs {
  inline-size: 6.125rem;
  block-size: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media only screen and (max-width: 768px) {
  .button--xs {
    inline-size: 19.9375rem;
  }
}
.button--sm {
  inline-size: 7.5625rem;
  block-size: 2.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.button--md {
  inline-size: 10.9375rem;
  block-size: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.button--lg {
  max-inline-size: 40rem;
  inline-size: 100%;
  height: 2.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.button--hero {
  inline-size: clamp(10.96875rem, -5.580357vw + 15.9910625rem, 13.3125rem);
  block-size: 3.75rem;
}
@media only screen and (max-width: 768px) {
  .button--hero .button--hero {
    inline-size: clamp(9.46875rem, 15.648855vw + 5.8010625rem, 13.3125rem);
    block-size: clamp(3rem, 3.053vw + 2.284375rem, 3.75rem);
  }
}
.button--pricing {
  inline-size: clamp(20rem, -47.619vw + 62.857125rem, 40rem);
  block-size: 3rem;
}
@media only screen and (max-width: 768px) {
  .button .button--pricing {
    inline-size: clamp(17.9375rem, 89.821883vw - 3.1145038125rem, 40rem);
  }
}
.button--faq {
  inline-size: clamp(8.625rem, -13.991vw + 21.2165625rem, 17.9375rem);
  block-size: 3rem;
}
