.someText {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.someText--sm {
  font-size: 1rem;
  line-height: 1.5rem;
}
.someText--md {
  font-size: 1.125rem;
  line-height: 1.56;
}
.someText--lg {
  font-size: clamp(18px, 0.188vw + 17.296px, 20px);
  line-height: 1.56;
}
.someText--primary {
  color: #4338CA;
  font-weight: 600;
}
.someText--gray {
  color: #525252;
}
.someText--bold {
  color: #171717;
  font-weight: 600;
}
.someText--blue {
  color: #4338CA;
}
.someText--weight-medium {
  font-weight: 500;
}
