.card {
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 1.502vw + 0.647875rem, 2rem);
  border: 1px solid #E5E5E5;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06), 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1);
}
.card .textPair {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card .blue {
  color: #4338CA;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    gap: 1rem;
  }
}
