form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.375rem;
  box-shadow: 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.05), 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  inline-size: 100%;
  gap: 2.5rem;
}
form .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-inline-size: 40rem;
  inline-size: 100%;
}
form .contact-form .nameEmail {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
}
form .contact-form .nameEmail .name {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  flex: 1 1 0;
  min-inline-size: 0;
  inline-size: 100%;
}
form .contact-form .nameEmail .name .inputName {
  inline-size: 100%;
  background: #FAFAFA;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.1875rem;
  box-shadow: rgb(229, 229, 229);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  padding: 0.625rem 0.875rem;
}
form .contact-form .nameEmail .name .inputName:focus {
  border: 0.0625rem solid rgba(68, 76, 231, 0.1215686275);
  box-shadow: 0 0 0 0.25rem rgba(68, 76, 231, 0.12), 0 0.0625rem 0.125rem 0.25rem rgba(16, 24, 40, 0.05);
}
form .contact-form .email {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  flex: 1 1 0;
  min-inline-size: 0;
  inline-size: 100%;
}
form .contact-form .email .inputEmail {
  inline-size: 100%;
  background: #FAFAFA;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.1875rem;
  box-shadow: rgb(229, 229, 229);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  padding: 0.625rem 0.875rem;
}
form .inputArea {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
form .inputArea .area {
  inline-size: 100%;
  min-block-size: 6.75rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.1875rem;
  box-shadow: rgb(229, 229, 229);
  resize: none;
  padding: 0.625rem 0.875rem;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
}

.label {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737373;
  color: #404040;
}

.error {
  border: 1px solid #DC2626;
  box-shadow: 0 0 0 0.25rem rgba(217, 45, 32, 0.12), 0 0 0 0.0625rem rgb(217, 45, 32);
}

p,
.errorCounter {
  color: #DC2626;
}

@media only screen and (max-width: 767px) {
  form {
    gap: clamp(1rem, 4.071vw + 0.0458125rem, 2rem);
  }
  .contact-form {
    flex-wrap: wrap;
  }
  .nameEmail {
    gap: clamp(1.5rem, 2.64vw + 0.8811875rem, 2rem);
  }
}
@media only screen and (max-width: 540px) {
  .nameEmail {
    flex-direction: column;
  }
}
