@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;
@use '../../styles/mixins' as *;

section {
  display: flex;
  flex-direction: column;
  @include commonPadding;
  gap: rem(28);
  margin: 0 auto;
  inline-size: 100%;


  .content {
    display: flex;
    flex-direction: column;
    gap: rem(64);
    inline-size: 100%;

  }


}

