section {
  display: flex;
  flex-direction: column;
  padding: clamp(4rem, 4.762vw + 1.7143125rem, 6rem) clamp(1rem, 11.905vw - 4.7143125rem, 6rem);
  gap: 1.75rem;
  margin: 0 auto;
  inline-size: 100%;
}
@media only screen and (max-width: 767px) {
  section {
    padding: clamp(3rem, 4.071vw + 2.0458125rem, 4rem) clamp(0.75rem, 1.018vw + 0.5114375rem, 1rem);
  }
}
section .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  inline-size: 100%;
}
