.features3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
}
.features3 .features__container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  width: 100%;
  gap: 4rem;
  margin: 0 auto;
}
.features3 .content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row-reverse;
}
.features3 .content2 .cards2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}
.features3 .content2 .featuresImage img {
  box-shadow: 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.05), 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
