@use '../styles/tokens/colors' as *;
@use '../styles/tokens/fonts' as *;
@use '../styles/tokens/distance' as *;
@use '../styles/utils/functions' as *;


@mixin h2 {
  font-family: $font-family-base;
  font-weight: $font-weight-semi-bold;
  color: $h2-color;
  font-size: rem(48);
  line-height: rem(48);

  &--blue {
    color: #4338CA;
  }

  @media only screen and (max-width: 1440px) {
    font-size: clamp(rem(38), calc(0.939vw + rem(34.479)), rem(48));

  }
}


@mixin featureSection($reverse: false) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include commonPadding;
  inline-size: 100%;
  max-width: $common-max-width;
  gap: rem(64);
  margin: 0 auto;

  @media only screen and (max-width: 767px) {
    gap: clamp(rem(48), calc(4.071vw + rem(32.733)), rem(64));
  }

  .content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(rem(32), calc(-1.502vw + rem(53.634)), rem(48));;
    @if $reverse {
      flex-direction: row-reverse;
    } @else {
      flex-direction: row;
    }

    .cards2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: rem(40);
    }

    .cards2 > * {
      flex: 0 0 auto;
    }

    .featuresImage {
      img {
        box-shadow: 0 rem(4) rem(6) rem(-2) rgba(0, 0, 0, 0.05),
        0 rem(10) rem(15) rem(-3) rgba(0, 0, 0, 0.1);
        border-radius: rem(8);
      }
    }
  }
  @media (max-width: 1439px) {
    .content2 {
      flex-direction: column;
      @if $reverse {
        flex-direction: column-reverse;
      } @else {
        flex-direction: column;
      }

      .cards2 {
        order: 1;
        justify-content: flex-start;
      }

      .featuresImage {
        order: 2;
        margin-top: rem(24);
        inline-size: 100%;
        display: flex;
        justify-content: center;
      }

      .featuresImage img {
        inline-size: 100%;
        block-size: auto;
      }
    }
  }
}

@mixin form-text {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: rem(14);
  line-height: rem(20);
  color: #737373;
}

@mixin form-border {
  border: rem(1) solid #E5E5E5;
  border-radius: rem(3);
  box-shadow: rgba(229, 229, 229, 1);

}

@mixin form-focus {
  border: rem(1) solid #444CE71F;
  box-shadow: 0 0 0 rem(4) rgba(68, 76, 231, 0.12),
  0 rem(1) rem(2) rem(4) rgba(16, 24, 40, 0.05);

}

@mixin mostPopular {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-size: rem(20);
  line-height: rem(28);
  text-align: center;
  background: #EEF2FF;
  max-width: rem(384);

}

@mixin commonPadding {
  padding: clamp(rem(64), calc(4.762vw + rem(27.429)), rem(96)) clamp(rem(16), calc(11.905vw - rem(75.429)), rem(96));

  @media only screen and (max-width: 767px) {
    padding: clamp(rem(48), calc(4.071vw + rem(32.733)), rem(64)) clamp(rem(12), calc(1.018vw + rem(8.183)), rem(16));
  }

}
