@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(28) rem(40) rem(28) 0;
  border-bottom: 1px solid #D4D4D4;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  
}

.questionRow {
  margin-bottom: rem(8);
}

.iconWrapper {
  position: absolute;
  top: rem(28);
  right: 0;
  width: rem(20);
  height: rem(20);
  border: rem(2) solid #A3A3A3;
  border-radius: 50%;
  cursor: pointer;

  .lineHorizontal {
    position: absolute;
    background-color: #A3A3A3;
    width: rem(12);
    height: rem(2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lineVertical {
    position: absolute;
    background-color: #A3A3A3;
    width: rem(2);
    height: rem(12);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
