@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;
@use '../../styles/mixins' as *;


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include commonPadding;
  max-width: $common-max-width;
  gap: clamp(rem(32), calc(-4.762vw + rem(100.571)), rem(64));
  inline-size: 100%;

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-inline-size: clamp(rem(592), calc(-16.667vw + rem(832)), rem(704));
    gap: rem(48);


    .message {
      display: flex;
      flex-direction: column;
      gap: clamp(rem(32), calc(3.005vw + rem(20.732)), rem(64));

      h2 {
        @include h2;
      }

      .checkItems {
        display: flex;
        flex-direction: column;
        gap: rem(20);
      }

      .checkItems > * {
        flex: 0 0 auto;
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      gap: clamp(rem(12), calc(0.375586vw + rem(10.591549)), rem(16));

      .emailCapture {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(16);
        inline-size: 100%;


        .input {
          inline-size: clamp(rem(319), calc(1.40845vw + rem(313.71831)), rem(334));
          block-size: rem(40);
        }

      }

    }
  }

  .imageWrapper {
    inline-size: 100%;

    & img {
      display: block;
      inline-size: 100%;
      block-size: auto;
    }

  }
}

.visually-hidden {
  position: absolute !important;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@media only screen and (max-width: 767px) {

  .container {
    flex-direction: column;
    align-items: stretch;
    gap: clamp(rem(16), calc(12.214vw - rem(29.802)), rem(64));
  }

  .content {
    inline-size: 100%;
    max-inline-size: none;
  }

  .imageWrapper {
    inline-size: 100%;
  }

  .email .emailCapture {
    align-items: stretch;
    flex-direction: column;
  }


}

