$color-bg-body: #F9FAFB;
$main-wrap-bg: #FFFFFF;
$head-bg: #F9FAFB;


$btn-bg-prim: #4338CA;
$btn-bg-prim-hover: #3730A3;
$btn-bg-prim-focus: #3730A3;
$btn-bg-prim-disabled: #F5F5F5;
$btn-color-prim: #fff;
$btn-color-prim-disabled:#A3A3A3;


$btn-bg-sec: #FFFFFF;
$btn-bg-sec-hover: #FAFAFA;
$btn-bg-sec-focus: #FAFAFA;
$btn-bg-sec-disabled: #F5F5F5;
$btn-color-sec: #171717;
$btn-color-sec-disabled:#A3A3A3;

$btn-bg-default: #FFFFFF;
$btn-color-default: #525252;

$color-text-primary: #4338CA;
$text-color-gray: #525252;


$h1-color: #171717;
$h2-color: #171717;

$a-font-color: #525252;
$a-font-color-hover: #171717;
$a-font-color-focus: #171717;
