@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;


.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-width: $common-max-width;
  width: 100%;
  margin: 0 auto;
  padding: rem(18) clamp(rem(32), calc(11.905vw - rem(59.429)), rem(112));
  gap: rem(96);
  position: relative;

}

.desktopNav {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  min-width: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: rem(16);
  flex: 0 0 auto;
}


.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  position: relative;


}

.mobileNav {
  display: none;
}

@media only screen and (max-width: 1439px) {

  .header {
    justify-content: space-between;
    padding: rem(18) clamp(rem(16), calc(4.071vw + rem(0.733)), rem(32));;

  }

  .logo {
    justify-content: flex-start;
    flex: 0 0 auto;
  }


  .mobileNav {
    position: absolute;
    top: 70%;
    right: 5%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s, opacity .2s;

    &.open {
      display: flex;
      max-height: 60vh;
      opacity: 1;
      pointer-events: auto;
    }
  }


  .burger {
    display: flex;
    flex: 0 0 auto;


  }

  .buttons {
    display: none;
  }

  .desktopNav {
    display: none !important;
    visibility: hidden;
  }
}


