section {
  max-width: 90rem;
  margin: 0 auto;
}
section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  inline-size: 100%;
}
section .content .button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  inline-size: 100%;
}
section .card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  inline-size: 100%;
}

@media only screen and (max-width: 1439px) {
  .card {
    flex-direction: column;
  }
}
