@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/utils/functions' as *;


.main__wrapper {
  border-radius: rem(6);
  box-shadow: 0 rem(4) rem(102) rem(-2) rgba(0, 0, 0, 0.05), 0 rem(10) rem(14.4) rem(3.2) rgba(0, 0, 0, 0.1);
  background: $main-wrap-bg;
  margin: 0 rem(16);

}