@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;


.footer__wrapper {
  padding: clamp(rem(64), calc(4.762vw + rem(27.429)), rem(96)) clamp(rem(32), calc(42.857vw + rem(-297.143)), rem(320));


  .footer {
    display: flex;
    flex-direction: column;
    max-width: $common-max-width;
    inline-size: 100%;
    margin: 0 auto;

  }


  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(32);

    .wrap {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(24);

      }

      .textPair {
        font-family: $font-family-base;
        font-weight: $font-weight-regular;
        color: #171717;
        font-size: rem(14);
        line-height: rem(20);

      }
    }
  }


}

@media only screen and (max-width: 768px) {
  .footer__wrapper {
    padding: clamp(rem(48), calc(3.571vw + rem(36.571)), rem(64)) rem(32);

  }
  .content .wrap .logos {
    gap: clamp(rem(16), calc(2.037vw + rem(8.361)), rem(24));

  }
}