.section--hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: clamp(4rem, 4.762vw + 1.7143125rem, 6rem) clamp(1rem, 11.905vw - 4.7143125rem, 6rem);
  margin: 0 auto;
  gap: 2rem;
  max-width: 90rem;
}
@media only screen and (max-width: 767px) {
  .section--hero {
    padding: clamp(3rem, 4.071vw + 2.0458125rem, 4rem) clamp(0.75rem, 1.018vw + 0.5114375rem, 1rem);
  }
}
.section--hero .hero__message {
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
}
.section--hero .hero__message .text__pair {
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
  inline-size: 100%;
  gap: clamp(0.75rem, 1.2vw, 1.5rem);
}
.section--hero .hero__message .text__pair :where(h1, .mobileTablet__title, p) {
  margin: 0;
}
.section--hero .hero__title {
  color: #171717;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(3rem, 2.381vw + 1.857125rem, 4rem);
  line-height: 1.2;
  font-weight: 600;
  text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25), 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
  hyphens: none;
  inline-size: 100%;
  overflow-wrap: anywhere;
}
.section--hero .buttons__hero {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  inline-size: 100%;
}
.section--hero .image__wrapper {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  overflow: hidden;
}
.section--hero .image__wrapper img {
  display: block;
  inline-size: 100%;
  block-size: auto;
}

.mobileTablet__title {
  display: none;
}

@media only screen and (max-width: 1439px) {
  .section--hero {
    flex-direction: column;
    gap: clamp(2rem, -4.071vw + 3.9541875rem, 3rem);
  }
  .mobileTablet__title {
    display: block;
    color: #171717;
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(2.25rem, 3.053vw + 1.534375rem, 3rem);
    padding-bottom: clamp(1rem, 2.036vw + 0.522875rem, 1.5rem);
    inline-size: 100%;
    overflow-wrap: anywhere;
  }
  .hero__title {
    display: none;
  }
  .buttons__hero {
    gap: clamp(1rem, 4.071vw + 0.0458125rem, 2rem);
    margin-top: clamp(2rem, 8.142vw + 0.091625rem, 4rem);
  }
}
