@use '../../styles/tokens/colors' as *;
@use '../../styles/tokens/fonts' as *;
@use '../../styles/tokens/distance' as *;
@use '../../styles/utils/functions' as *;
@use '../../styles/mixins' as *;


.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include commonPadding;
  margin: 0 auto;
  gap: rem(32);
  max-width: $common-max-width;


  .message {
    display: flex;
    flex-wrap: wrap;
    inline-size: 100%;

    .textPair {
      display: flex;
      flex-direction: column;
      letter-spacing: 0;
      inline-size: 100%;
      gap: clamp(rem(12), 1.2vw, rem(24));

      :where(h1, .mobileTablet__title, p) {
        margin: 0;
      }
    }
  }

  .title {
    color: $h1-color;
    font-family: $font-family-base;
    font-size: clamp(rem(48), calc(2.381vw + rem(29.714)), rem(64));
    line-height: 1.2;
    font-weight: $font-weight-semi-bold;
    text-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25),
    0 rem(2) rem(2) rgba(0, 0, 0, 0.15);
    hyphens: none;
    inline-size: 100%;
    overflow-wrap: anywhere;
  }


  .buttons {
    display: flex;
    gap: rem(32);
    margin-top: rem(64);
    inline-size: 100%;
  }


  .imageWrapper {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    overflow: hidden;

    & img {
      display: block;
      inline-size: 100%;
      block-size: auto;
    }
  }

}

.mobileTabletTitle {
  display: none;
}


@media only screen and (max-width: 1439px) {


  .hero {
    flex-direction: column;
    gap: clamp(rem(32), calc(-4.071vw + rem(63.267)), rem(48));
  }

  .mobileTabletTitle {
    display: block;
    color: $h1-color;
    font-family: $font-family-base;
    font-size: clamp(rem(36), calc(3.053vw + rem(24.55)), rem(48));
    padding-bottom: clamp(rem(16), calc(2.036vw + rem(8.366)), rem(24));
    inline-size: 100%;
    overflow-wrap: anywhere;

  }

  .title {
    display: none;
  }

  .buttons {
    gap: clamp(rem(16), calc(4.071vw + rem(0.733)), rem(32));
    margin-top: clamp(rem(32), calc(8.142vw + rem(1.466)), rem(64));
  }
}